<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buk.project.mini.caesarsCrypt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.splashscreen.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".old.ui.MainActivity"
            android:label="@string/title_activity_main2" />
        <activity android:name=".ui.MainActivity2">
        </activity>
        <activity android:name=".old.ui.Encode" />
        <activity android:name=".old.ui.Decode" />
        <activity android:name=".old.ui.AboutCaesar" />
    </application>

</manifest>